# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# PyInstaller
build/
dist/
*.spec

# Virtual environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# App-specific
config_temp.json
worker_launcher.py
RemoteAccess_Portal/
